* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  padding: 16px;
}
.moduleNav {
  border: 1px solid red;
}

.module1 {
  border: 1px solid red;
}

.module2 {
  border: 1px solid red;
}

.module3 {
  border: 1px solid red;
}
